### 1) Ejercicios de Pandas
Descargar el archivo de consumo de eléctrico por sector manufacturero (series originales) del siguiente [link](https://datos.gob.ar/dataset/produccion-consumo-electrico-por-sectores-manufactureros)

1. Visualizar los primeros 3 registros y los últimos 15
2. Asignarle un índice al DF
3. Calcular el consumo promedio para la industria de bebidas
4. Calcular el consumo máximo de la industria de minerales no metálicos
5. Calcular el consumo mínimo de la industria de la molienda de cereáles y oleainosas
6. Calcular el consumo promedio de todas las industrias
7. Buscar cúal fue la industria que más consumio en todo el período disponible y cuál fue el consumo

In [6]:
import pandas as pd

In [ ]:
# Visualizar los primeros 3 registros y los últimos 15

In [7]:
data = pd.read_csv('consumo_electrico_sectores_manufactureros_original.csv')

In [8]:
data.head(3)

,periodo,molienda_cereales_y_oleaginosas,resto_de_alimentos,bebidas,tabaco,textil_indumentaria_y_cuero,madera_papel_y_edicion,refinacion_de_petroleo,quimicos,caucho_y_plastico,minerales_no_metalicos,metales_basicos,metalmecanica,automotriz,resto_de_industria,total_industria
0,2011-01-01,105416.615,136220.180,55479.259,2836.7,71818.334,114894.294,60890.927,220699.305,81499.380,155531.266,233236.97,22186.032,32582.029,1248.960,1294540.251
1,2011-02-01,94977.159,138056.127,50855.627,3288.9,78421.279,111749.470,57823.895,202938.299,78907.056,143218.282,283461.37,22850.314,38989.885,1148.860,1306686.523
2,2011-03-01,116117.421,144977.759,50135.058,3416.1,78679.566,119050.683,59893.738,212612.357,82878.604,167608.730,301485.22,25006.309,44643.790,1090.983,1407596.318

In [12]:
data.tail(15)

,periodo,molienda_cereales_y_oleaginosas,resto_de_alimentos,bebidas,tabaco,textil_indumentaria_y_cuero,madera_papel_y_edicion,refinacion_de_petroleo,quimicos,caucho_y_plastico,minerales_no_metalicos,metales_basicos,metalmecanica,automotriz,resto_de_industria,total_industria
128,2021-09-01,86403.621,141805.549,47833.996,1584.742,63804.381,101954.790,63654.373,207202.306,70098.013,187087.110,289857.170,23045.736,33965.270,1249.254,1319546.311
129,2021-10-01,87356.650,135382.139,49159.329,1597.760,62307.939,104012.624,66279.433,207056.681,68953.948,182928.837,295538.996,21800.016,33899.422,1210.752,1317484.526
130,2021-11-01,85361.907,138464.477,54378.959,1620.632,63804.686,104051.267,74061.500,221849.534,71891.013,186919.658,290208.478,22879.292,36783.617,1349.573,1353624.593
131,2021-12-01,69119.636,138372.588,59111.393,1669.606,50187.153,97820.177,74793.475,225086.542,68772.266,175981.129,279258.490,22434.087,35148.057,1350.621,1299105.220
132,2022-01-01,74638.321,137559.613,59395.165,1838.020,48248.399,98147.607,73442.233,229762.832,63843.596,170342.564,223096.589,20240.239,26386.834,1316.734,1228258.746
133,2022-01-02,80486.668,136584.563,55626.069,1784.194,60329.242,97696.074,55621.617,208245.146,67816.609,162162.441,227578.269,21678.144,32830.612,1451.891,1209891.539
134,2022-01-03,89549.660,142869.369,58207.926,1783.748,64919.934,100973.738,60723.812,230627.681,71630.838,176771.101,282409.506,22991.079,35647.426,1253.407,1340359.225
135,2022-01-04,99430.507,141308.571,51199.390,1540.680,63403.703,99152.353,63666.063,225155.791,72947.331,176949.791,245095.811,23215.893,33852.774,1356.062,1298274.720
136,2022-01-05,103129.768,142961.014,49125.404,1428.104,63216.161,103108.331,68638.749,225538.873,69496.134,183951.357,301124.143,23577.392,33556.281,1265.533,1370117.244
137,2022-01-06,97159.480,136378.097,44619.871,1372.544,63467.205,109055.714,61802.646,215907.578,68259.573,174409.308,312317.352,24084.158,35710.676,1355.967,1345900.169
138,2022-01-07,93723.439,140208.188,46118.492,1468.406,65909.338,107956.789,66508.694,209690.702,69366.701,182295.451,306780.877,23539.494,36854.306,1312.390,1351733.267
139,2022-01-08,85629.814,143839.156,46737.567,1480.974,67391.191,101392.069,67824.936,214222.814,70985.346,201096.095,306204.513,24200.371,37505.735,1331.611,1369842.192
140,2022-01-09,92003.044,136749.267,49148.656,1413.200,63873.411,104219.851,67739.796,214311.090,68666.983,185067.578,303928.602,23186.180,35196.901,1316.547,1346821.106
141,2022-01-10,89806.080,135371.651,50434.228,1428.131,62050.195,102942.282,68291.187,220190.134,71340.944,196898.642,312735.786,22496.113,35555.244,1317.541,1370858.158
142,2022-01-11,92171.081,140119.236,54795.892,1554.218,63442.908,101972.910,63875.828,221138.359,72673.659,181904.669,295770.000,22978.053,38877.078,1558.649,1352832.540

In [ ]:
# Asignarle un índice al DF

In [13]:
data.set_index('periodo', inplace=True)

In [15]:
data.head(2)

,molienda_cereales_y_oleaginosas,resto_de_alimentos,bebidas,tabaco,textil_indumentaria_y_cuero,madera_papel_y_edicion,refinacion_de_petroleo,quimicos,caucho_y_plastico,minerales_no_metalicos,metales_basicos,metalmecanica,automotriz,resto_de_industria,total_industria
periodo,,,,,,,,,,,,,,,
2011-01-01,105416.615,136220.180,55479.259,2836.7,71818.334,114894.294,60890.927,220699.305,81499.380,155531.266,233236.97,22186.032,32582.029,1248.96,1294540.251
2011-02-01,94977.159,138056.127,50855.627,3288.9,78421.279,111749.470,57823.895,202938.299,78907.056,143218.282,283461.37,22850.314,38989.885,1148.86,1306686.523

In [ ]:
# Calcular el consumo promedio para la industria de bebidas

In [16]:
data['bebidas'].mean()

48146.387440559425

In [ ]:
# Calcular el consumo máximo de la industria de minerales no metálicos

In [17]:
data['minerales_no_metalicos'].max()

201096.095

In [ ]:
# Calcular el consumo mínimo de la industria de la molienda de cereáles y oleainosas

In [18]:
data['molienda_cereales_y_oleaginosas'].min()

44798.415

In [ ]:
# Calcular el consumo promedio de todas las industrias

In [19]:
data.mean()

molienda_cereales_y_oleaginosas    9.971921e+04
resto_de_alimentos                 1.399218e+05
bebidas                            4.814639e+04
tabaco                             2.412494e+03
textil_indumentaria_y_cuero        6.644732e+04
madera_papel_y_edicion             1.087835e+05
refinacion_de_petroleo             6.437583e+04
quimicos                           2.119968e+05
caucho_y_plastico                  7.696102e+04
minerales_no_metalicos             1.696912e+05
metales_basicos                    2.557775e+05
metalmecanica                      2.190256e+04
automotriz                         3.705405e+04
resto_de_industria                 1.123706e+03
total_industria                    1.304313e+06
dtype: float64

In [ ]:
# Buscar cúal fue la industria que más consumio en todo el período disponible y cuál fue el consumo

In [34]:
ind = pd.DataFrame(data.max())
ind.head(1)

                                          0
molienda_cereales_y_oleaginosas  130530.673

### 2) Ejercicios:
Descargar el archivo de distribución de empleo formal en el AMBA de este [link](https://www.datos.gob.ar/dataset/produccion-distribucion-empleo-formal-amba) (el que en su título dice hasta CLAE2)
1.   Calcular la cantidad de departamentos y sectores (CLAE 2 dígitos) qué emplean:

  1.   solo hombres
  2.   solo mujeres
  3.   a ambos géneros
  4.   pensar una estrategia para chequear que los datos son "buenos"

2. Calcular la remuneración media para hombres y para mujeres
3. Calcular la remuneración media para mujeres en el CLAE = 6

Nota: realizar consideración acerca del promedio de promedios

In [10]:
dat = pd.read_csv('Empleo-AMBA.csv', dtype='str')

In [11]:
dat

,LINK,provincia_id,departamento_id,clae2,letra,Cantidad_trabajadores,Cantidad_trabajadores_Hombres,Cantidad_trabajadores_Mujeres,Remuneracion_media,Remuneracion_media_Hombres,Remuneracion_media_Mujeres,Remuneracion_mediana,Remuneracion_mediana_Hombres,Remuneracion_mediana_Mujeres,Poblacion_radio,Viviendas_radio
0,1_10_12,02,02007,1,A,2,2,NaN,150000,150000,NaN,150000,150000,NaN,584,606
1,1_10_12,02,02007,6,B,1,1,NaN,337377.81,337377.81,NaN,337377.81,337377.81,NaN,584,606
2,1_10_12,02,02007,10,C,4,2,2,53289.2875,43690.815,62887.76,48271.49,43690.815,62887.76,584,606
3,1_10_12,02,02007,13,C,1,NaN,1,72176.2,NaN,72176.2,72176.2,NaN,72176.2,584,606
4,1_10_12,02,02007,21,C,1,1,NaN,373915.95,373915.95,NaN,373915.95,373915.95,NaN,584,606
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508984,068613310,06,06861,84,O,16,6,10,209554.436875,454433.251666667,62627.148,69575.29,186903.265,51658.81,1022,392
508985,068613310,06,06861,85,P,20,5,15,140988.2215,142675.562,140425.774666667,117515.38,127509.61,107521.15,1022,392
508986,068613310,06,06861,86,Q,7,2,5,165429.368571429,103643.96,190143.532,104359,103643.96,104359,1022,392
508987,068613310,06,06861,91,R,1,NaN,1,137147.57,NaN,137147.57,137147.57,NaN,137147.57,1022,392
508988,068613310,06,06861,94,S,4,3,1,114986.1425,97687.2033333333,166882.96,127855.085,125019.96,166882.96,1022,392

Calcular la cantidad de departamentos y sectores (CLAE 2 dígitos) qué emplean: solo hombres

In [28]:
len(dat[(dat['clae2'].notnull())&(dat['Cantidad_trabajadores_Hombres'].notnull())])

420963

Calcular la cantidad de departamentos y sectores (CLAE 2 dígitos) qué emplean: solo mujeres

In [30]:
len(dat[(dat['clae2'].notnull())&(dat['Cantidad_trabajadores_Mujeres'].notnull())])

273923

Calcular la cantidad de departamentos y sectores (CLAE 2 dígitos) qué emplean: a ambos géneros

In [38]:
len(dat[(dat['clae2'].notnull())&(dat['Cantidad_trabajadores_Mujeres'].notnull()&dat['Cantidad_trabajadores_Hombres'].notnull())])

186193

Pensar una estrategia para chequear que los datos son "buenos"

Calcular la remuneración media para hombres y para mujeres